.keypad-container {
  display: flex;
  flex-direction: row;
  padding: 2%;
  margin-top: 0.5rem;
}
.argument-input {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
  border: 0.125rem solid #cccbcd;
  border-radius: 0.5rem;
  color: #3d3c3e;
}

.argument-input:focus {
  border-color: #5f2ad0;
  outline: none;
  caret-color: #5f2ad0;
}

.submit-button {
  cursor: pointer;
  border-radius: 0.5rem;
  border: 0.125rem solid currentColor;
  background: #fff;
  color: #124ce1cc;
  height: 2.2rem;
  width: 7rem;

  margin-left: 0.5rem;
}

.submit-button:hover {
  transition: all 0.2s ease 0s;
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
  background: #124ce1cc;
  color: #fff;
}
